* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.5rem;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a.active {
    color: #dddada;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
    position: absolute;

    span {
        color: #000;
        padding: 10px 0 0 10px;
    }
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.jumbotron {

    .sneakers-section {

        img {
            vertical-align: middle;
          }
          
          /* Position the image container (needed to position the left and right arrows) */
          .container {
            position: relative;
          }
          
          /* Hide the images by default */
          .mySlides {
            display: none;
          }
          
          /* Add a pointer when hovering over the thumbnail images */
          .cursor {
            cursor: pointer;
          }
          
          /* Next & previous buttons */
          .prev,
          .next {
            cursor: pointer;
            position: absolute;
            top: 40%;
            width: auto;
            padding: 16px;
            margin-top: -50px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-size: 20px;
            border-radius: 0 3px 3px 0;
            user-select: none;
            -webkit-user-select: none;
          }
          
          /* Position the "next button" to the right */
          .next {
            right: 0;
            border-radius: 3px 0 0 3px;
          }
          
          /* Number text (1/3 etc) */
          .numbertext {
            color: #f2f2f2;
            font-size: 12px;
            padding: 8px 12px;
            position: absolute;
            top: 0;
          }
          
          /* Container for image text */
          .caption-container {
            text-align: center;
            background-color: #222;
            padding: 2px 16px;
            color: white;
          }
          
          .row:after {
            content: "";
            display: table;
            clear: both;
          }
          
          /* Six columns side by side */
          .column {
            float: left;
            width: 16.66%;
          }
          
          /* Add a transparency effect for thumnbail images */
          .demo {
            opacity: 0.6;
          }
          
          .active,
          .demo:hover {
            opacity: 1;
          }

    }

    .cars-section,
    .tech-section,
    .unavailable-purchasing {
      .column {
        float: left;
        width: 33.3%;
        margin-bottom: 16px;
        padding: 0 8px;
      }
      
      @media screen and (max-width: 650px) {
        .column {
          width: 100%;
          display: block;
        }
      }
      
      .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      }
      
      .container {
        padding: 0 16px;
      }
      
      .container::after, .row::after {
        content: "";
        clear: both;
        display: table;
      }
      
      .title {
        color: grey;
      }
      
      a {
        text-decoration: none;
        color: #fff;
      }

      .button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
      }
      
      .button:hover {
        background-color: #555;
      }
    }

    .wallpaper-section {
      .header {
        text-align: center;
        padding: 32px;
    }
    
    .row {
        display: -ms-flexbox; /* IE10 */
        display: flex;
        -ms-flex-wrap: wrap; /* IE10 */
        flex-wrap: wrap;
        padding: 0 4px;
    }
    
    /* Create four equal columns that sits next to each other */
    .column {
        -ms-flex: 25%; /* IE10 */
        flex: 25%;
        max-width: 25%;
        padding: 0 4px;
    }
    
    .column img {
        margin-top: 8px;
        vertical-align: middle;
    }
    
    /* Responsive layout - makes a two column-layout instead of four columns */
    @media screen and (max-width: 800px) {
        .column {
            -ms-flex: 50%;
            flex: 50%;
            max-width: 50%;
        }
    }
    
    /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 600px) {
        .column {
            -ms-flex: 100%;
            flex: 100%;
            max-width: 100%;
        }
    }
    }

    footer {
      background-color: #23253A;
      color: #fff;
      
      a {
        text-decoration: none;
      }

      .footer-section {
        .horizontal-line {
          width: 100%; 
          height: 3px; 
          background-color: black;
        }
        .copyright-section {
          .socialmedia-icons {
            display: flex; 
            justify-content: center;

            img {
              filter: invert(50%);
            }

            img:hover {
              filter: invert(100%);
            }
          }
        }
      }

    }

}

// HOW TO PURCHASE SECTION

.jumbotron {

  .purchasing-section {
    .purchasing-steps {
      .steps {
        #step1 .title::before ,#step2 .title::before , #step3 .title::before , #step4 .title::before  {
          content: attr(data-steps);
          font-size: 3rem;
          text-transform: uppercase;
          opacity: .2;
          // position: absolute;
          // left: 15rem;
        }
      }
    }
  }

  .purchasing-form {
    input[type=text], input[type=tel], input[type=number], input[type=file], input[type=email], select, textarea {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical;
  }
  
  .container {
      border-radius: 5px;
      background-color: #f2f2f2;
    
  }

}

.verification-field {
  /* Style the header */
.header {
  background-color: #f44336;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

/* Style the "Add" button */
.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #bbb;
}
}

.payment-section {
  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
  }
  
  .col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
  }
  
  .col-50{
    padding: 0 16px;
  }
  
  .container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
  }
  
  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }
  
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  
  .btn {
    background-color: #0B5ED7;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  
  .btn:hover {
    background-color: #0053d1;
  }
  
  a {
    color: #2196F3;
  }
  
  hr {
    border: 1px solid lightgrey;
  }
  
  span.price {
    float: right;
    color: grey;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
  @media (max-width: 800px) {
    .row {
      flex-direction: column-reverse;
    }
    .col-25 {
      margin-bottom: 20px;
    }
}

}

.faqs-section {
  ul {
    list-style-type: square;

    li {
      padding: 20px 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);

      a {
        text-decoration: none;
      }
    }
  }
}

.newsletter {
  .section-title{
    position: relative;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 4rem;
}

.section-title::after{
    content: attr(data-name);
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    opacity: .1;
    position: absolute;
    top: 1rem;
    left: 2rem;
}

.form-container-inner{
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}

.form{
  display: flex;
  justify-content: center;
}

.form-input,
.form-btn{
  display: inline-block;
  outline: none;
  border: 2px solid #252830;
  padding: 1.5rem;
  color: #fff;
}

.form-input{
  border-right: none;
  background-color: #131417;
}

.form-input::placeholder {
  color: #fff;
}

.form-btn{
  margin-left: -.5rem;
  border-left: none;
  background-color: #252830;
  text-transform: uppercase;
  width: 5rem;
}

.newsletter{
  padding-bottom: 6rem;
}

.newsletter-title{
  font-size: 2rem;
}

.newsletter-description{
  margin-bottom: 1rem;
}

}

}

// END OF HOW TO PURCHASE SECTION